/* Error: Can't find stylesheet to import.
 *    ,
 * 7  | / @use "bootstrap/scss/bootstrap" with (
 * 8  | |     $theme-colors: (
 * 9  | |         "primary": #0d6efd,
 * 10 | |         "secondary": #6c757d,
 * 11 | |         "success": #198754,
 * 12 | |         "danger": #dc3545,
 * 13 | |         "warning": #6d000f, // cor personalizada
 * 14 | |         "info": #0dcaf0,
 * 15 | |         "light": #f8f9fa,
 * 16 | |         "dark": #212529
 * 17 | |     )
 * 18 | | 
 * 19 | \ )
 *    '
 *   estilos\custom.scss 7:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 7  \2502  \250c  @use \"bootstrap/scss/bootstrap\" with (\a 8  \2502  \2502      $theme-colors: (\a 9  \2502  \2502          \"primary\": #0d6efd,\a 10 \2502  \2502          \"secondary\": #6c757d,\a 11 \2502  \2502          \"success\": #198754,\a 12 \2502  \2502          \"danger\": #dc3545,\a 13 \2502  \2502          \"warning\": #6d000f, // cor personalizada\a 14 \2502  \2502          \"info\": #0dcaf0,\a 15 \2502  \2502          \"light\": #f8f9fa,\a 16 \2502  \2502          \"dark\": #212529\a 17 \2502  \2502      )\a 18 \2502  \2502  \a 19 \2502  \2514  )\a    \2575 \a   estilos\\custom.scss 7:1  root stylesheet";
}
